<h1>Lista de productos</h1>

<ul>
  {{#each products}}
    <li>
      <img src="{{this.thumbnail}}" alt="{{this.title}}" style="max-width: 100px;" />
      <h3>{{this.title}}</h3>
      <p>Precio: ${{this.price}}</p>
      <a href="/products/{{this._id}}">Ver detalle</a>
    </li>
  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
  {{/if}}

  <span>Página {{page}} de {{totalPages}}</span>

  {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
  {{/if}}
</div>
